/* *****************************************************************************
 * Small devices template stylesheet.
 * 
 * =============================================================================
 * 
 * THIS FILE IS PART OF PWDSTORE
 * (C)2013 Maurice Bleuel
 * 
 * This program is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License version 3 as published by the
 * Free Software Foundation.
 * 
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
 * details.
 * 
 * You should have received a copy of the GNU General Public License along with
 * this program; if not, see http://www.gnu.org/licenses or write to the Free
 * Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
 * 02110-1301 USA.
 * ****************************************************************************/

/* Import the Ubuntu font from Google Webfonts */
@import url("http://fonts.googleapis.com/css?family=Ubuntu");

* {
    font-family: Ubuntu;
}

body {
    font-size: 12pt;
    background: #eee;
    margin: 0;
}

a {
    color: #990000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

input[type=button] {
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    height: 11mm;
}
input[type=submit] {
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    height: 11mm;
}
input:-moz-placeholder { color: #999; }
input:-ms-input-placeholder { color: #999; }
input:-webkit-input-placeholder { color: #999; }

span.trans_in {
    color: #000;
}

span.trans_out {
    color: #990000;
}

span.note {
    font-size: 10pt;
    color: #777;
}

/* *****************************************************************************
 * #document
 * ****************************************************************************/

#document {
    width: 100%;
    background: #fff;
    margin: auto;
}

/* *****************************************************************************
 * #footer
 * ****************************************************************************/

#footer {
    width: 100%;
    background: #fff;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 9pt;
    font-style: italic;
    color: #777;
}

/* *****************************************************************************
 * #navigation
 * ****************************************************************************/

#navigation {
    width: 98%;
    background: #C55042;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 0;
    min-height: 40px;
    text-align: center;
}

#navigation a {
    display: inline-block;
    border: 2px solid #000;
    background: #990000;
    font-size: 10pt;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
}

/* *****************************************************************************
 * #loginForm
 * ****************************************************************************/

#loginForm {
    border: 2px solid #000;
    background: #eee;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    min-height: 100px;
}

#loginForm div.header {
    background: #000;
    color: #fff;
    font-weight: bold;
    padding: 5px;
}

#loginForm div.body {
    padding: 20px;
    text-align: center;
}

#loginForm div.body input {
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 5px;
}
#loginForm div.body input[type=submit] {
    cursor: pointer;
}

/* *****************************************************************************
 * div.form
 * ****************************************************************************/

div.form {
    border: 2px solid #000;
    background: #eee;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    min-height: 100px;
}

div.form div.header {
    background: #000;
    color: #fff;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

div.form div.body {
    padding: 0px;
}

div.form div.body input {
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 1px;
    width: 95%;
}
div.form div.body input[type=submit] {
    cursor: pointer;
    height: 11mm;
}
div.form div.body input[type=button] {
    cursor: pointer;
    height: 11mm;
}
div.form div.body input[type=checkbox] {
    height: 11mm;
}

div.form div.body select {
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 5px;
    background: #fff;
}

div.form div.body textarea {
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 1px;
    background: #fff;
    width: 95%;
}

div.form div.body table {
    
}

div.form div.body table td {
    vertical-align: top;
}

/* *****************************************************************************
 * div.box
 * ****************************************************************************/

div.box {
    border: 2px solid #000;
    background: #eee;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

div.box div.header {
    background: #000;
    color: #fff;
    font-weight: bold;
    padding: 5px;
}

div.box div.body {
    padding: 20px;
}

/* *****************************************************************************
 * table.list
 * ****************************************************************************/

table.list {
    width: 100%;
    background: #777;
    font-size: 10pt;
}

table.list tbody tr {
    cursor: pointer;
}

table.list td {
    background: #fff;
    text-align: center;
    padding: 5mm 0 5mm 0;
}
table.list td.odd {
    background: #eee;
}
table.list td.unimportant {
    display: none;
}

table.list th {
    text-align: center;
    max-width: 25%;
}
table.list th.unimportant {
    display: none;
}

table.list td span.action {
    display: block;
    padding-bottom: 3mm;
}

/* *****************************************************************************
 * COMMON
 * ****************************************************************************/

.center { text-align: center; }
.right { text-align: right; }
